<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
<xacro:macro name="ros2_control">
    <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros2_control.so">
        <parameters>$(arg config_controllers)</parameters>
      </plugin>
    </gazebo>
    <ros2_control name="robot" type="system">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
  <!-- <robot name="robot" xmlns:xacro="http://wiki.ros.org/xacro"> -->
    
      <xacro:include filename="$(find robot_description)/urdf/sensors/sensors.urdf.xacro"/>
      <xacro:arg name="prefix" default=""/>
      <xacro:arg name="my_robot" default=""/>
      

      <link name="base_link">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="150.0"/>
          <inertia ixx="37.11703" ixy="10.21381" ixz="0" iyy="63.78499" iyz="0" izz="72.02697"/>
        </inertial>
        <visual name="Cube.000.000">
          <origin xyz="0 0 0" rpy="1.5708 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Cube.025.dae" scale="1.0 1.0 0.81818"/>
          </geometry>
          <material name="Material"/>
        </visual>
        <collision name="Cube.000.000.000">
          <origin xyz="0 0 0" rpy="1.5708 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Cube.027.dae" scale="1.0 1.0 0.81818"/>
          </geometry>
        </collision>
      </link>

      <link name="left_b_wheel">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="2.0"/>
          <inertia ixx="0.01936" ixy="0" ixz="0" iyy="0.03745" iyz="0" izz="0.7564"/>
        </inertial>
        <visual name="Torus.000">
          <origin xyz="0 0 0" rpy="-3.14159 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Torus.004.dae" scale="0.24 0.24 0.6"/>
          </geometry>
        </visual>
        <collision name="Torus.000.000">
          <origin xyz="0 0 0" rpy="-3.14159 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Torus.005.dae" scale="0.6 0.6 0.6"/>
          </geometry>
        </collision>
      </link>

      <link name="left_f_wheel">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="2.0"/>
          <inertia ixx="0.01936" ixy="0" ixz="0" iyy="0.03745" iyz="0" izz="0.7564"/>
        </inertial>
        <visual name="Torus.003">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Torus.003.dae" scale="0.24 0.24 0.6"/>
          </geometry>
        </visual>
        <collision name="Torus.003.000">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Torus.006.dae" scale="0.6 0.6 0.6"/>
          </geometry>
        </collision>
      </link>

      <link name="right_b_wheel">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="2.0"/>
          <inertia ixx="0.01936" ixy="0" ixz="0" iyy="0.03745" iyz="0" izz="0.7564"/>
        </inertial>
        <visual name="Torus.001">
          <origin xyz="0 0 0" rpy="-3.14159 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Torus.007.dae" scale="0.24 0.24 0.6"/>
          </geometry>
        </visual>
        <collision name="Torus.001.000">
          <origin xyz="0 0 0" rpy="-3.14159 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Torus.008.dae" scale="0.6 0.6 0.6"/>
          </geometry>
        </collision>
      </link>

      <link name="right_f_wheel">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="2.0"/>
          <inertia ixx="0.14197" ixy="0" ixz="0" iyy="0.23407" iyz="0" izz="0.14197"/>
        </inertial>
        <visual name="Torus.002">
          <origin xyz="0 0 0" rpy="-3.14159 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Torus.002.dae" scale="0.24 0.24 0.6"/>
          </geometry>
        </visual>
        <collision name="Torus.002.000">
          <origin xyz="0 0 0" rpy="-3.14159 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Torus.000.dae" scale="0.6 0.6 0.6"/>
          </geometry>
        </collision>
      </link>

      <link name="zback_box">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="0.001"/>
          <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
        </inertial>
        <visual name="Cube">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <box size="0.1 1.5 1.35"/>
          </geometry>
        </visual>
        <collision name="Cube.000">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Cube.033.dae" scale="1.0 1.0 1.0"/>
          </geometry>
        </collision>
      </link>

      <link name="zfront_box">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="0.001"/>
          <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
        </inertial>
        <visual name="Cube.002">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <box size="0.1 1.5 1.35"/>
          </geometry>
        </visual>
        <collision name="Cube.002.000">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Cube.034.dae" scale="1.0 1.0 1.0"/>
          </geometry>
        </collision>
      </link>

      <link name="zleft_box">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="0.001"/>
          <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
        </inertial>
        <visual name="Cube.003">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <box size="0.1 1.3 1.35"/>
          </geometry>
        </visual>
        <collision name="Cube.003.000">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Cube.032.dae" scale="1.0 1.0 1.0"/>
          </geometry>
        </collision>
      </link>

      <link name="zright_box">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="0.001"/>
          <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
        </inertial>
        <visual name="Cube.004">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <box size="0.1 1.3 1.35"/>
          </geometry>
        </visual>
        <collision name="Cube.004.000">
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find robot_description)/meshes/dae/Cube.035.dae" scale="1.0 1.0 1.0"/>
          </geometry>
        </collision>
      </link>

      <joint name="zback_box" type="fixed">
        <origin xyz="-1.2 0 0.735" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="zback_box"/>
      </joint>

      <joint name="zfront_box" type="fixed">
        <origin xyz="0.2 0 0.735" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="zfront_box"/>
      </joint>

      <joint name="zleft_box" type="fixed">
        <origin xyz="-0.5 0.7 0.735" rpy="0 0 1.5708"/>
        <parent link="base_link"/>
        <child link="zleft_box"/>
      </joint>

      <joint name="zright_box" type="fixed">
        <origin xyz="-0.5 -0.7 0.735" rpy="0 0 1.5708"/>
        <parent link="base_link"/>
        <child link="zright_box"/>
      </joint>

      <material name="Material">
        <color rgba="0.64 0.64 0.64 1.0"/>
      </material>

      <xacro:sensor_camera node_name="arm_camera" node_namespace="$(arg my_robot)" frame_prefix="$(arg prefix)arm_camera_" parent="$(arg prefix)base_link" >
        <origin xyz="0.0 0.0 -0.01" rpy="0 3.141592 0"/>
      </xacro:sensor_camera>
      <xacro:sensor_imu ns="$(arg my_robot)" prefix="$(arg prefix)imu_" parent="$(arg prefix)base_link">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      </xacro:sensor_imu>

    </ros2_control>
  </xacro:macro>
</robot>
